<header class="header">
    <a href="/" class="header__logo">JS Blog</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/home" class="<%= isActiveRoute('/home', currentRoute) %>">Home</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">About</a>
            </li>
            <!-- <li>
                <a href="#" onclick="alert('Oops, were working on setting this up now')">Contact</a>
            </li> -->
            <li>
                <a href="/userdashboard" class="<%= isActiveRoute('/posts', currentRoute) %>">My Posts</a>
            </li>
            <li>
                <a class="<%= isActiveRoute('/search', currentRoute) %> searchBtn">Search</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>
</header>