<div class="post-body">
  <h1><%= data.title %></h1>
  <div class="post_details">
    <a href="#" class="post-author">@<%= data.author %></a>
    <% if (locals.username === data.author) { %>
    <div class="edit-button-container">
        <a href="/edit-post/<%= data._id %>" class="btn">Edit</a>
    </div>
    <% } %>
  </div>
  <%- data.body %>
</div>
