/* TODO: Download Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
  --black: #1c1c1c;
  --gray: #7E7E7E;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #FAF5EE;
  background-image: url("/img/img-noise-361x370.png");
  margin: 0;
}

a { color: var(--black); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

input:focus {
  outline: 2px solid black;
}

.username_validity {
  font-size: small;
  padding: 0px;
  margin-top: -15px;
}

.invalid {
  outline: 2px solid red;
}

.invalid_username {
  color: red;
}

.valid_username {
  color: green;
}

.valid {
  outline: 2px solid green;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white; 
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
  border-radius: 10px;
  max-height: 33.59;
}

.btn-delete {
  height: 70%;
  background-color: var(--red) !important;
}

.btn-contribute {
  background-color: #FAF5EE;
  border: var(--black) solid 3px;
  color: var(--black); 
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
}

.edit-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-end;
}

.post_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

img {
  width: 100%;
  height: auto;
}

/* Layout */
.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 20px 0;
}

/* Hero Section */
.hero-image {
  max-height: 528px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
}

.cursor {
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
  }
}

.header__logo {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
}

.header__logo:hover {
  text-decoration: underline;
}

.header__nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}

.header__logo, .header__nav, .header__button {
  width: 100%;
}

.header__button {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header__button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.header__button button:hover {
  border: 2px solid var(--black);
}

/* Header -> Navigation */
.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header__nav ul a {
  padding: 10px;
  text-decoration: none;
}

.header__nav ul a.active {
  color: #7E7E7E;
}

.header__nav ul a:hover {
  text-decoration: underline;
}

/* Author - HomePage */
.author {
  padding: 10px 0;
  text-align: center;
}

.author__heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}

/* Alert */
.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Login */
.login-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contribute */
.contribute-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.contribute-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-end;
}
/* Home Article List */

.posts-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-title-container a {
  margin-top: 33px;
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.articles__heading {
  margin-top: 4rem;
  font-weight: 400;
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}

.article-list__date {
  font-size: 1rem;
  color: var(--gray);
  width: 100px;
  display: inline-block;
  width: 260px;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list__date {
    text-align: right;
  }
}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  filter: none;
}

.article-ul:hover li {
  filter: blur(3px);
}

.article-ul:hover li:hover {
  filter: none;
}


.article {
  white-space: pre-wrap;
}

.post-author {
  font-size: 0.8rem;
  color: var(--gray);
}

/* Footer */
.footer {
  margin: 4rem;
  text-align: center;
}


/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls {
  display: flex;
  flex-direction: row;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
  margin-top: 10px;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* SeachBar */
.searchBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s linear;
  z-index: 1;
}

.searchBar.open {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(5px);
}

.search__form {
  width: 60vw;
}

#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  outline: 2px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#searchInput:focus {
  outline: 2px solid black;
}

#searchClose {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 2em;
  cursor: pointer;
}


.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}

.post-title {
  border: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

/* Editor Container */
.editor-container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Toolbar for creating post */

.toolbar-container {
  position: fixed;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  padding: 0px; 
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.toolbar-container .ck.ck-icon {
  font-size: 0.6em !important;
}

.ck.ck-dropdown .ck-dropdown__arrow {
  width: 8px !important;
  padding-left: 4px !important;
}

.toolbar-container .ck.ck-toolbar {
  max-width: 100%; 
  box-sizing: border-box;
  border-radius: 10px; 
}

@media (max-width: 600px) {
  .toolbar-container, .ck.ck-toolbar {
    flex-direction: column;
    max-width: 95%;
  }
}

/* Editor for posts */


.editor .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable {
  border-radius: 10px !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
  min-height: 50vh;
  border: var(--black) 1px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.guest_author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.username_check {
  cursor: pointer;
  text-decoration: underline;
  padding-bottom: 4px;
}

